
.main {
    background-size: cover;
    background-image: url('../img/background.jpg');
}

h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 4rem;
}

body {
    overflow-x: hidden;
}

.header__languages {
    position: absolute;
    top: 0;
    right: 0;
}
